.DS_Store
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
vue-inspect.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# for promoting yarn usage over npm usage
package-lock.json
yarn-lock.json

# eslint cache
.eslintcache
